div, p, h1 {
    font-family: 'Fira Sans', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    margin-top: 50px;
    padding: 20px;
}

.userScore {
    z-index: 3;
    width: 35%;
    height: 45%;
    background-color: rgba(0, 0, 0, .9);
}

.userScore p {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

.correctAnswers {
    width: 70%;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
}

.answerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
}

.answer {
    width: 48%;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #48b238;
    color: white;
    font-weight: bold;
    height: 55px;
    width: 385px;
}

.answerBox, .answer {
    border-radius: 15px;
}

h1 {
    font-size: 26px;
    font-weight: bolder;
    color: #48b238;
}

p, h1 {
    margin: 0;
}

.userScore {
    border: 1px solid black;
}

button {
    background-color: #f8d004;
    box-shadow: 4px gray;
    font-family: 'Fira Sans', sans-serif;
    color: #48b238;
    font-weight: bold;
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}





.star {
    position: absolute;
    width: 25px;
    height: 25px;
    top:50%;
    left:50%;
    transform: translate3d(-50%,-50%,0);
    animation: move1 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 0s infinite;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'%3E%3Cpath fill='%23D7282C' fill-rule='evenodd' d='M9.46403162,16.8826984 C6.22529644,12.8065873 5.01660079,12.4894444 0.206324111,14.4540476 C0.0513833992,14.5172222 -0.0687747036,14.310873 0.0616600791,14.2062698 C4.12173913,10.9550794 4.43715415,9.74119048 2.48063241,4.9115873 C2.4173913,4.75611111 2.6229249,4.6352381 2.72727273,4.76642857 C5.96600791,8.84261905 7.17470356,9.1597619 11.9849802,7.19515873 C12.1399209,7.13190476 12.2608696,7.33825397 12.1296443,7.44285714 C8.06956522,10.694127 7.7541502,11.9080159 9.71067194,16.737619 C9.77391304,16.8930159 9.56837945,17.0138889 9.46403162,16.8826984' transform='translate%28.498 -4.429%29'/%3E%3C/svg%3E");
    background-size: 25px 25px !important;
}
    .star:nth-child(2) {
      animation: move2 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 0s infinite;
    }
    .star:nth-child(3) {
      animation: move3 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) .1s infinite;
    }
    .star:nth-child(4) {
      animation: move4 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 0s infinite;
    }
    .star:nth-child(5) {
      animation: move5 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 0s infinite;
    }
    .star:nth-child(6) {
      animation: move6 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 0s infinite;
    }
    .star:nth-child(7) {
      animation: move7 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 1s infinite;
    }
    .star:nth-child(8) {
      animation: move8 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 1s infinite;
    }
    .star:nth-child(9) {
      animation: move9 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 1s infinite;
    }
    .star:nth-child(10) {
      animation: move10 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 1s infinite;
    }
    .star:nth-child(11) {
      animation: move11 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 2s infinite;
    }
    .star:nth-child(12) {
      animation: move12 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 2s infinite;
    }
    .star:nth-child(13) {
      animation: move13 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 2s infinite;
    }
    .star:nth-child(14) {
      animation: move14 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 3s infinite;
    }
    .star:nth-child(15) {
      animation: move15 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 3s infinite;
    }
    .star:nth-child(16) {
      animation: move16 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 3s infinite;
    }
    .star:nth-child(17) {
      animation: move17 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 3s infinite;
    }
    .star:nth-child(18) {
      animation: move18 4s cubic-bezier(0.12, 0.71, 0.24, 0.96) 3s infinite;
    }
  

  @keyframes move1 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    50% {
      filter: hue-rotate(-50deg);
      opacity: 0;
      transform: translate3d(100px,-80px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move2 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      filter: hue-rotate(-30deg);
      opacity: 0;
      transform: translate3d(20px,-100px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move3 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg) scale(1);
    }
    60% {
      filter: hue-rotate(20deg);
      opacity: 0;
      transform: translate3d(-20px,-120px,0) rotate(180deg) scale(.25);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg) scale(1);
    }
  }
  @keyframes move4 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      filter: hue-rotate(30deg);
      opacity: 0;
      transform: translate3d(-80px,-60px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move5 {
    0% {
      opacity: 1;
      transform: translate3d(2px,0,0) rotate(0deg) scale(1);
    }
    60% {
      filter: hue-rotate(80deg);
      opacity: 0;
      transform: translate3d(-100px,-20px,0) rotate(180deg) scale(1.5);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg) scale(1);
    }
  }
  @keyframes move6 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      filter: hue-rotate(10deg);
      opacity: 0;
      transform: translate3d(60px,60px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move7 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg) scale(1);
    }
    60% {
      filter: hue-rotate(-20deg);
      opacity: 0;
      transform: translate3d(-10px,60px,0) rotate(180deg) scale(.5);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg) scale(1);
    }
  }
  @keyframes move8 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      opacity: 0;
      transform: translate3d(-80px,50px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move9 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg) scale(1);
    }
    60% {
      opacity: 0;
      transform: translate3d(120px,-30px,0) rotate(180deg) scale(.5);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg) scale(1);
    }
  }
  @keyframes move10 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg) scale(1);
    }
    60% {
      opacity: 0;
      transform: translate3d(110px,-50px,0) rotate(180deg) scale(.5);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg) scale(1);
    }
  }
  @keyframes move11 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      opacity: 0;
      transform: translate3d(110px,-80px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move12 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      opacity: 0;
      transform: translate3d(180px,-90px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move13 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      opacity: 0;
      transform: translate3d(60px,90px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move14 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      opacity: 0;
      transform: translate3d(120px,100px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move15 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      opacity: 0;
      transform: translate3d(-120px,110px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move16 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      opacity: 0;
      transform: translate3d(-20px,20px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move17 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      opacity: 0;
      transform: translate3d(50px,60px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }
  @keyframes move18 {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0) rotate(0deg);
    }
    60% {
      opacity: 0;
      transform: translate3d(90px,90px,0) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translate3d(0,0,0) rotate(0deg);
    }
  }



