
section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

button {
    background-color: #f8d004;
    -webkit-box-shadow: 4px gray;
            box-shadow: 4px gray;
    font-family: 'Fira Sans', sans-serif;
    color: #48b238;
    font-weight: bold;
}

.playBtn {
    height: 150px;
    width: 250px;
    font-size: 35px;
    color: #48b238;
    -webkit-animation: pulsate 1.5s;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1); opacity: 1;}
    100% {-webkit-transform: scale(1.1); opacity: 1;}
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, .5);
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    font-family: 'Fira Sans', sans-serif;
}

form, .questions, .playBtn {
    border-radius: 15px;
}

.questionBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    width: 100%;
}

.questions {
    width: 48%;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    background-color: #48b238;
    color: white;
    font-weight: bold;
    height: 55px;
    width: 385px;
}

p {
    margin: 0;
}

.choices {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.submitBtn, .inputBox {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

audio {
    position: fixed;
    bottom: 10px;
    left: 30px;
}