<section *ngIf="!questionsOpen">
  <button class="playBtn" (click)="toggleQuestions()">PLAY</button>
</section>

<form *ngIf="questionsOpen" #quizForm="ngForm" (ngSubmit)="submitAnswers(quizForm)">
  <div>
    <input class="inputBox" type="text" name="username" placeholder="Enter a Username" ngModel>
  </div>

  <div class="questionBox">
    <div class="questions" *ngFor="let question of questions; index as i">
      <p>Q{{ i+1 }}: {{ question.question_name }}</p>

      <div class="choices">
        <div class="choice">
          <input type="radio" name="q{{ i+1 }}" value="{{ question.choice_1 }}" ngModel>
          <label for="">{{ question.choice_1 }}</label>
        </div>
        <div class="choice">
          <input type="radio" name="q{{ i+1 }}" value="{{ question.choice_2 }}" ngModel>
          <label for="">{{ question.choice_2 }}</label>
        </div>
        <div class="choice">
          <input type="radio" name="q{{ i+1 }}" value="{{ question.choice_3 }}" ngModel>
          <label for="">{{ question.choice_3 }}</label>
        </div>
        <div class="choice">
          <input type="radio" name="q{{ i+1 }}" value="{{ question.choice_4 }}" ngModel>
          <label for="">{{ question.choice_4 }}</label>
        </div>
      </div>
    </div>
  </div>
  <button class="submitBtn">Submit</button>
</form>