section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 150px;
    margin-left: 50px;
}

nav {
    margin-right: 300px;
}

a {
    font-family: 'Fira Sans', sans-serif;
    color: #48b238;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 30px;
}

